:root {
  /* Color palette */
  --color-blue: #09f;
  --color-blue-light: #0cf;
  --color-teal: #2dd;
  --color-purple: #85f;
  --color-pink: #ff5c98;
  --color-red: #ff3467;
  --color-yellow: #fb0;
  --color-green: #0c8;
  --color-black: #000;
  --color-dark-100: #111;
  --color-dark-94: #181818;
  --color-dark-90: #222;
  --color-dark-88: #232323;
  --color-dark-86: #252525;
  --color-dark-84: #282828;
  --color-dark-82: #2b2b2b;
  --color-dark-80: #333;
  --color-dark-74: #363636;
  --color-dark-70: #444;
  --color-dark-60: #555;
  --color-dark-50: #666;
  --color-dark-40: #777;
  --color-dark-30: #888;
  --color-dark-20: #999;
  --color-light-100: #aaa;
  --color-light-92: #bababa;
  --color-light-90: #bbb;
  --color-light-80: #ccc;
  --color-light-70: #ddd;
  --color-light-62: #e3e3e3;
  --color-light-60: #eee;
  --color-light-58: #f3f3f3;
  --color-light-56: #f4f4f4;
  --color-light-54: #f5f5f5;
  --color-light-52: #fdfdfd;
  --color-white: #fff;

  /* Font sizes */
  --size-1: 12px;
  --size-2: 14px;
  --size-3: 16px;
  --size-4: 20px;
  --size-5: 28px;
  --size-6: 40px;
  --size-7: 52px;
  --size-8: 64px;
  --size-9: 80px;
  --size-10: 120px;

  /* Widths */
  --width-1: 300px;
  --width-2: 400px;
  --width-3: 500px;
  --width-4: 600px;
  --width-5: 700px;
  --width-6: 800px;
  --width-7: 900px;
  --width-8: 1000px;
  --width-9: 1200px;
  --width-10: 1400px;
}

body {
  --page-text-color: var(--color-dark-80);
  --page-background-color: #fff;
  --page-tint: var(--color-blue);
  --page-divider: var(--color-light-60);
  --section-title: var(--color-light-100);

  background: var(--page-background-color);
  color: var(--page-text-color);
  font-family: GT Walsheim, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: var(--page-tint);
}

body[data-theme="dark"] {
  --page-text-color: #fff;
  --page-background-color: #222;
  --page-tint: var(--color-blue-light);
}
