.navigation {
  --navigation-gap: var(--fraction-space-3);
  --navigation-active-opacity: 0.5;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  color: var(--fraction-color-navigationColor);
  z-index: var(--fraction-depth-navigation);
  contain: layout;
}

:global([data-theme="dark"]) .navigation,
:global([data-navigation-theme="dark"]) .navigation {
  --navigation-active-opacity: 0.4;
}

.navigation :global(.content) {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--fraction-color-overlayColor);
  z-index: var(--fraction-depth-negative);
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: opacity 0.12s ease-in-out;
}

.navigation:global(.open) .overlay {
  opacity: 1;
  pointer-events: all;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--fraction-color-navigationBackground);
  z-index: var(--fraction-depth-zero);
  box-shadow: 0 1px var(--fraction-color-navigationBorder);
}

.controls,
.list,
.authentication {
  position: relative;
  display: flex;
}

.controls {
  height: var(--fraction-dimension-navigationHeight);
  flex: none;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  display: inline-flex;
  place-items: center;
  flex: none;
  height: 100%;
  width: auto;
  color: inherit;
  text-decoration: none;
  outline: none;
  padding: 0 var(--fraction-space-4);
  transform: translateX(-50%);
  transition: opacity 0.12s ease-in-out;
}

.logo:hover,
.logo:focus {
  opacity: var(--navigation-active-opacity);
}

.logo svg {
  width: 14px;
  height: 21px;
}

.wordmark {
  display: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  height: 1em;
}

.hamburger {
  position: absolute;
  color: inherit;
  font: inherit;
  line-height: normal;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  cursor: pointer;
  overflow: hidden;
  width: 36px;
  height: 36px;
  left: 0;
  top: 12px;
  border-radius: 50%;
  background: var(--fraction-palette-light54);
}

.list,
.authentication {
  flex-direction: column;
  list-style: none;
  width: 100%;
  padding: 0;
}

.list {
  margin: calc(var(--fraction-dimension-gutter) - 12px) auto 0;
}

.item {
  display: flex;
  place-content: center;
  place-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  width: inherit;
  color: inherit;
}

.item:global(.signin) {
  color: var(--fraction-color-primary);
}

.item:global(.signup) {
  width: auto !important;
  padding-left: var(--navigation-gap);
}

.item a:not(.signup) {
  display: inline-flex;
  place-items: center;
  margin: 0;
  text-decoration: none;
  width: inherit;
  color: inherit;
  outline: none;
  padding: var(--navigation-gap) 0;
  transition: opacity 0.16s ease-in-out;
}

.item a:not(.signup):hover,
.item a:not(.signup):focus {
  opacity: var(--navigation-active-opacity);
}

.authentication {
  margin: 0 auto calc(var(--fraction-dimension-gutter) - 8px);
}

.authentication:global(.authenticated) .signup {
  width: 36px;
}

.signupContent:global(.authenticated) .label {
  display: none;
  margin-right: 8px;
}

.signup {
  position: fixed;
  top: 12px;
  right: var(--fraction-dimension-gutter);
  height: 36px;
  width: 96px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  color: var(--fraction-palette-white);
  background: var(--fraction-color-primary);
  border-radius: 18px;
  transition: width 0.16s ease-in-out;
}

.signupContent {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 6px;
  place-content: center;
  place-items: center;
}

.avatar {
  width: 24px;
  height: 24px;
  background: #000;
  border-radius: 50%;
  margin-right: auto;
  transform: scale(1.52);
  transition: transform 0.12s ease-in-out;
}

.label,
.sublabel {
  line-height: 1;
  white-space: nowrap;
}

.sublabel {
  display: none;
}

@media screen and (min-width: 740px) {
  .navigation {
    --navigation-gap: var(--fraction-space-2);
  }

  .navigation :global(.content) {
    place-items: center;
    flex-direction: row;
  }

  .overlay {
    display: none;
  }

  .controls {
    flex: none;
  }

  .logo {
    position: relative;
    top: initial;
    left: initial;
    transform: none;
    padding: 0;
  }

  .logo svg {
    margin-right: var(--fraction-space-2);
  }

  .hamburger {
    display: none;
  }

  .list,
  .authentication {
    display: flex;
    width: auto;
    height: var(--fraction-dimension-navigationHeight);
    flex-direction: row;
  }

  .list {
    margin: 0 auto 0 var(--navigation-gap);
  }

  .item {
    height: 100%;
  }

  .item a:not(.signup) {
    height: 100%;
    padding: 0 var(--navigation-gap);
  }

  .authentication {
    margin: 0;
  }

  .signup,
  .authentication:global(.authenticated) .signup {
    position: relative;
    top: initial;
    right: initial;
    width: 96px;
  }

  .label,
  .signupContent:global(.authenticated) .label {
    display: inline;
  }

  .avatar {
    transform: scale(1);
  }
}

@media screen and (min-width: 1040px) {
  .navigation {
    --navigation-gap: var(--fraction-space-3);
  }

  .logo svg {
    margin-right: var(--fraction-space-3);
  }

  .wordmark {
    display: inline-block;
  }

  .signup,
  .authentication:global(.authenticated) .signup {
    width: 136px;
  }

  .sublabel {
    display: inline;
  }
}

@media screen and (min-width: 1240px) {
  .navigation {
    --navigation-gap: var(--fraction-space-4);
  }
}
