:global(.width1) {
  max-width: var(--width-1);
}
:global(.width2) {
  max-width: var(--width-2);
}
:global(.width3) {
  max-width: var(--width-3);
}
:global(.width4) {
  max-width: var(--width-4);
}
:global(.width5) {
  max-width: var(--width-5);
}
:global(.width6) {
  max-width: var(--width-6);
}
:global(.width7) {
  max-width: var(--width-7);
}
:global(.width8) {
  max-width: var(--width-8);
}
:global(.width9) {
  max-width: var(--width-9);
}
:global(.width10) {
  max-width: var(--width-10);
}
