* {
  box-sizing: inherit;
  text-size-adjust: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
}

html {
  box-sizing: border-box;
  font-family: var(--fraction-family-default);
  font-weight: 400;
  font-size: 20px;
  font-variant-ligatures: common-ligatures;
  text-size-adjust: 100%;
  letter-spacing: -0.004em;
  word-break: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: var(--fraction-color-pageBackground);
  color: var(--fraction-color-textBody);
}

@supports (font-size: max(0px)) {
  html {
    font-size: min(max(16px, 3vw), 20px);
  }
}

html[data-scroll="false"] {
  overflow: hidden;
}

html.margin-navigation body {
  padding-top: var(--fraction-dimension-navigationHeight);
}

/* stylelint-disable selector-type-no-unknown */
dynamic {
  display: contents;
}
/* stylelint-enable selector-type-no-unknown */

::selection {
  color: var(--fraction-color-selection);
  background: var(--fraction-color-selectionBackground);
}

a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

a {
  text-decoration: none;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

canvas,
embed,
iframe,
img,
object,
svg,
video {
  max-width: 100%;
}

img,
video {
  height: auto;
  border: 0;
}

img {
  vertical-align: middle;
}

iframe {
  border: 0;
}
