.content {
  position: relative;
  margin: 0 auto;
  width: 100vw;
  max-width: calc(100vw - 2 * var(--fraction-dimension-gutter));
}

@supports (margin: max(0px)) {
  .content {
    max-width: calc(
      100vw -
        max(
          var(--fraction-dimension-gutter),
          calc(
            var(--fraction-dimension-gutter) + env(safe-area-inset-left, 0px)
          )
        ) -
        max(
          var(--fraction-dimension-gutter),
          calc(
            var(--fraction-dimension-gutter) + env(safe-area-inset-right, 0px)
          )
        )
    );
  }
}

@media screen and (min-width: 740px) {
  .content:global(.size-small) {
    max-width: var(--fraction-width-5);
  }
}

@media screen and (min-width: 1040px) {
  .content,
  .content:global(.size-large),
  .content:global(.size-larger) {
    max-width: var(--fraction-width-8);
  }
}

@media screen and (min-width: 1240px) {
  .content:global(.size-large),
  .content:global(.size-larger) {
    max-width: var(--fraction-width-9);
  }
}

@media screen and (min-width: 1440px) {
  .content:global(.size-larger) {
    max-width: var(--fraction-width-10);
  }
}
