.navigation {
  --navigation-gap: var(--fraction-space-3);

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  color: var(--fraction-color-navigationColor);
  z-index: var(--fraction-depth-navigation);
  contain: layout;
  min-height: var(--navigation-height);
  transition: color 0.08s ease-in-out;
}

:global([data-navigation-tint="true"]) .navigation {
  color: var(--fraction-palette-white);
}

.navigation :global(.content) {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--fraction-color-overlayColor);
  z-index: var(--fraction-depth-negative);
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: opacity 0.12s ease-in-out;
}

.navigation:global(.open) .overlay {
  opacity: 1;
  pointer-events: all;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--fraction-depth-zero);
}

.background:before,
.background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background:before {
  z-index: var(--fraction-depth-zero);
  background: var(--fraction-color-navigationBackground);
  transition: background 0.08s ease-in-out;
}

.background:after {
  box-shadow: 0 1px var(--fraction-color-navigationBorder);
  z-index: var(--fraction-depth-default);
  transition: box-shadow 0.08s ease-in-out;
}

:global([data-navigation-tint="true"]) .background:before {
  background: var(--navigation-tint);
}

:global([data-navigation-tint="true"]) .background:after {
  box-shadow: 0 1px rgba(0, 0, 0, 0.05);
}

:global([data-navigation-vibrant="true"]) .navigation {
  backdrop-filter: var(--fraction-backdrop-medium);
}

:global([data-navigation-vibrant="true"]) .background:before {
  opacity: 0.9;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--fraction-dimension-navigationBannerHeight);
  z-index: var(--fraction-depth-high);
}

.banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--fraction-depth-higher);
  pointer-events: none;
  box-shadow: 0 1px var(--fraction-color-navigationBorder);
}

.subnavigation {
  position: absolute;
  width: 100%;
  height: var(--fraction-dimension-navigationHeight);
  left: 0;
  top: var(--fraction-dimension-navigationHeight);
  transition: opacity 0.12s ease-in-out;
}

.subnavigation:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--fraction-depth-higher);
  pointer-events: none;
  box-shadow: 0 -1px var(--fraction-color-navigationBorder);
}

.navigation:global(.banner) .subnavigation {
  top: calc(
    var(--fraction-dimension-navigationHeight) +
      var(--fraction-dimension-navigationBannerHeight)
  );
}

.navigation:global(.open) .subnavigation {
  opacity: 0;
  pointer-events: none;
}

.controls,
.list,
.authentication {
  position: relative;
  display: flex;
}

.controls {
  height: var(--fraction-dimension-navigationHeight);
  flex: none;
}

.navigation:global(.banner) .controls {
  margin-top: var(--fraction-dimension-navigationBannerHeight);
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  display: inline-flex;
  place-items: center;
  flex: none;
  height: 100%;
  width: auto;
  color: inherit;
  text-decoration: none;
  outline: none;
  padding: 0 var(--fraction-space-4);
  transform: translateX(-50%);
  transition: opacity 0.12s ease-in-out;
}

.logo:hover,
.logo:focus {
  opacity: 0.5;
}

.logo svg {
  width: 14px;
  height: 21px;
}

.wordmark {
  display: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  height: 1em;
}

.hamburger {
  position: absolute;
  color: var(--fraction-color-navigationHamburger);
  font: inherit;
  line-height: normal;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  place-content: center;
  place-items: center;
  width: 36px;
  height: 36px;
  left: 0;
  top: 12px;
  border-radius: 50%;
  background: transparent;
  transition: opacity 0.16s ease-in-out, color 0.08s ease-in-out;
}

.hamburger:hover,
.hamburger:focus {
  opacity: 0.5;
}

.hamburger:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: inherit;
  background: currentColor;
  opacity: 0.1;
  z-index: var(--fraction-depth-zero);
}

:global([data-navigation-tint="true"]) .hamburger {
  color: var(--fraction-palette-white);
}

.hamburger svg {
  width: 20px;
  height: 20px;
}

.hamburger g {
  transition: transform 0.22s;
}

.hamburger path {
  transform-origin: top left;
  transition: transform 0.22s, opacity 0.16s 0.06s;
}

.hamburger path:nth-child(1) {
  transform: translateX(4px) translateY(5px);
}

.hamburger path:nth-child(2) {
  transform: translateX(4px) translateY(10px);
}

.hamburger path:nth-child(3) {
  transform: translateX(4px) translateY(15px);
}

.navigation:global(.open) .hamburger g {
  transition: transform 0.22s 0.06s;
  transform: translateX(1.8px);
}

.navigation:global(.open) .hamburger path {
  transition: transform 0.22s 0.06s, opacity 0.16s;
}

.navigation:global(.open) .hamburger path:nth-child(1) {
  transform: translateX(4px) translateY(5.75px) rotate(45deg);
}

.navigation:global(.open) .hamburger path:nth-child(2) {
  opacity: 0;
}

.navigation:global(.open) .hamburger path:nth-child(3) {
  transform: translateX(4px) translateY(14.25px) rotate(-45deg);
}

.list,
.authentication {
  flex-direction: column;
  list-style: none;
  width: 100%;
  padding: 0;
}

.list {
  margin: calc(var(--fraction-dimension-gutter) - 12px) auto 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.12s ease-in-out;
}

.navigation:global(.open) .list {
  opacity: 1;
  pointer-events: all;
}

.item {
  display: flex;
  place-content: center;
  place-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  width: inherit;
  color: inherit;
}

.item:global(.signin) {
  color: var(--navigation-accent);
  opacity: 0;
  pointer-events: none;
  transition: color 0.08s ease-in-out, opacity 0.12s ease-in-out;
}

.navigation:global(.open) .item:global(.signin) {
  opacity: 1;
  pointer-events: all;
}

:global([data-navigation-tint="true"]) .item:global(.signin) {
  color: var(--fraction-palette-white);
}

.item:global(.signup) {
  width: auto !important;
  padding-left: var(--navigation-gap);
}

.item a:not(.signup) {
  display: inline-flex;
  place-items: center;
  margin: 0;
  text-decoration: none;
  width: inherit;
  color: inherit;
  outline: none;
  padding: var(--navigation-gap) 0;
  transition: opacity 0.16s ease-in-out;
}

.item a:not(.signup):hover,
.item a:not(.signup):focus {
  opacity: 0.5;
}

.authentication {
  margin: 0 auto calc(var(--fraction-dimension-gutter) - 8px);
}

.authentication:global(.authenticated) .signup {
  width: 36px;
}

.signupContent:global(.authenticated) .label {
  display: none;
  margin-right: 8px;
}

.signup {
  position: fixed;
  top: 12px;
  right: var(--fraction-dimension-gutter);
  height: 36px;
  width: 78px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  outline: none;
  text-decoration: none;
  color: var(--fraction-palette-white);
  background: var(--navigation-accent);
  border-radius: 18px;
  transition: opacity 0.16s ease-in-out, background 0.08s ease-in-out,
    color 0.08s ease-in-out;
}

.navigation:global(.banner) .signup {
  top: calc(12px + var(--fraction-dimension-navigationBannerHeight));
}

.signup:hover,
.signup:focus {
  opacity: 0.5;
}

:global([data-navigation-tint="true"]) .signup {
  color: var(--navigation-tint);
  background: var(--fraction-palette-white);
}

.signupContent {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 6px;
  place-content: center;
  place-items: center;
}

.avatar {
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  width: 24px;
  height: 24px;
  color: inherit;
  border-radius: 50%;
  overflow: hidden;
  margin-right: auto;
  transform: scale(1.52);
}

.avatar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: inherit;
  background: currentColor;
  opacity: 0.1;
  z-index: var(--fraction-depth-zero);
}

.avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.initials {
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}

.label,
.sublabel {
  line-height: 1;
  white-space: nowrap;
}

.sublabel {
  display: none;
}

@media screen and (min-width: 740px) {
  .navigation {
    --navigation-gap: var(--fraction-space-2);
  }

  .navigation :global(.content) {
    flex-direction: row;
  }

  .overlay {
    display: none;
  }

  .controls {
    flex: none;
  }

  .logo {
    position: relative;
    top: initial;
    left: initial;
    transform: none;
    padding: 0;
  }

  .logo svg {
    margin-right: var(--fraction-space-2);
  }

  .hamburger {
    display: none;
  }

  .list,
  .authentication {
    display: flex;
    width: auto;
    height: var(--fraction-dimension-navigationHeight);
    flex-direction: row;
  }

  .list {
    margin: 0 auto 0 var(--navigation-gap);
  }

  .list,
  .navigation:global(.open) .list {
    opacity: 1;
    pointer-events: all;
    transition: none;
  }

  .navigation:global(.banner) .list {
    margin: var(--fraction-dimension-navigationBannerHeight) auto 0
      var(--navigation-gap);
  }

  .item {
    height: 100%;
  }

  .item a:not(.signup) {
    height: 100%;
    padding: 0 var(--navigation-gap);
  }

  .item:global(.signin),
  .navigation:global(.open) .item:global(.signin) {
    opacity: 1;
    pointer-events: all;
  }

  .authentication {
    margin: 0;
  }

  .navigation:global(.banner) .authentication {
    margin-top: var(--fraction-dimension-navigationBannerHeight);
  }

  .signup,
  .authentication:global(.authenticated) .signup {
    position: relative;
    top: initial;
    right: initial;
    width: 96px;
  }

  .navigation:global(.banner) .signup {
    top: initial;
  }

  .label,
  .signupContent:global(.authenticated) .label {
    display: inline;
  }

  .avatar {
    transform: scale(1);
  }
}

@media screen and (min-width: 1040px) {
  .navigation {
    --navigation-gap: var(--fraction-space-3);
  }

  .logo svg {
    margin-right: var(--fraction-space-3);
  }

  .wordmark {
    display: inline-block;
  }

  .signup,
  .authentication:global(.authenticated) .signup {
    width: 136px;
  }

  .sublabel {
    display: inline;
  }
}

@media screen and (min-width: 1240px) {
  .navigation {
    --navigation-gap: var(--fraction-space-4);
  }
}
