.wireframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  pointer-events: none;
}

.wireframe * {
  background: var(--fraction-color-wireframe);
  box-shadow: inset 1px 0 var(--fraction-color-wireframe),
    inset -1px 0 var(--fraction-color-wireframe);
  height: 100%;
}
